{% extends 'MainTemplate.html' %}
{% load staticfiles %}
{% block Script_Block %}
<script src="/static/js/account_info.js"></script>
{% endblock %}
{% block NavNoticeBoard %}active{% endblock %}
{% block BodyBlock%}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6"><h1>账户信息</h1></div>
    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <table>
               <tbody>
                 <tr><td>用户</td><td>{{ account_data.user.username }}</td></tr>
                {% if perms.SESite.can_teach %}
                    <tr><td>教工号</td><td>{{ account_data.idnum }}</td></tr>
                    <tr><td>身份</td><td>教师/助教</td></tr>
                {% else %}
                    <tr><td>学号</td><td>{{ account_data.idnum }}</td></tr>
                    <tr><td>身份</td><td>学生</td></tr>
                {% endif %}
                <tr><td>电子邮箱</td><td class="emailtd">{{ account_data.user.email }}</td><td><button type="button" class="btn btn-default emailbtn">修改</button></td></tr>
                <tr><td>密码</td><td class="pswtd"><button type="button" class="btn btn-default pswbtn">修改</button></td></tr>
                <tr><td><button type="button" class="btn btn-success savebtn">保存</button></td></tr>
               </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}