{% extends 'MainTemplate.html' %}
{% load staticfiles %}
{% block Script_Block %}
<!--<script src="/static/js/NoticeBoard.js"></script>-->
{% endblock %}
{% block NavCourseIntro%}active{% endblock %}
{% block BodyBlock%}
    <div class="container">
       {% if perms.SESite.can_teach %}
            <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form method="POST" class="CourseIntro" action="CourseIntro">
                {% csrf_token %}
                <div class="form-group">
                    <h2>预修要求</h2>
                    <textarea class="form-control" name="PreCourseRequire"></textarea>

                    <h2>课程教材</h2>
                    <textarea class="form-control" name="Material"></textarea>

                    <h2>分数构成</h2>
                    <textarea class="form-control" name="Score" ></textarea>
                    <div align="center"><input type="submit"  class="btn btn-success btn-primary btn-lg center" /></div>
                </div>

            </form>
            </div>
        </div>
       {% endif %}
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <div class="jumbotron">
                    {% for item in pre_intro %}
                <h2>预修要求</h2>
                <p>{{ item.2 }}</p>
                <label>By TA.{{ item.1 }}</label>
                <h2>课程教材</h2>
                <p>{{ item.3 }}</p>
                <label>By TA.{{ item.1 }}</label>
                <h2>分数构成</h2>
                <p>{{ item.4 }}</p>
                <label>By TA.{{ item.1 }}</label>
                {% if perms.SESite.can_teach %}<h3><a href="ScoreConsti?deleteid={{ item.0 }}">删除</a></h3>{% endif %}
            {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- show the result of the introduce of the course -->
{#    <div id="container-2">#}
{#        <!-- pre-courses requirement -->#}
{#        <div class="message_list">#}
{#        <ul>#}
{#            {% for item in pre_intro %}#}
{#            <li>#}
{#                <p>预修要求</p>#}
{#                <ul>{{ item.2 }}<li>By TA.{{ item.1 }}</li></ul>#}
{#            </li>#}
{##}
{#            <br/>#}
{#            <li>#}
{#                <p>课程教材</p>#}
{#                <ul>{{ item.3 }}<li>By TA.{{ item.1 }}</li></ul>#}
{#            </li>#}
{##}
{#            <br/>#}
{#            <li><p>分数构成</p>#}
{#                <ul>{{ item.4 }}<li>By TA.{{ item.1 }}</li></ul>#}
{#            </li>#}
{#        </ul>#}
{#                {% if perms.SESite.can_teach %}<label><a href="ScoreConsti?deleteid={{ item.0 }}">删除</a></label>{% endif %}#}
{#            {% endfor %}#}
{#        </ul>#}
{#        </div>#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <meta charset = "utf-8"/>#}
{#    <title>课程介绍</title>#}
{#    <style type="text/css">#}
{#        #container-1 .pre_intro{ #}
{#            width: 50%;#}
{#            height: 300px;#}
{#            margin: 20px;#}
{#            display: block;#}
{#            /*background-color: #ddd;*/#}
{##}
{#        }#}
{#        #container-1 .pre_intro textarea{display: block; margin-bottom: 10px;}#}
{#        #container-1 .pre_intro .submit{margin-left: 120px;}#}
{#        #container-1 label{margin-left: 150px;}#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    <!-- inherit the attribute -->#}
{#    {% include 'MainTemplate.html' %}#}
{##}
{##}
{#    <!-- if teacher, show the textarea -->#}
{#    #}
{#</body>#}
{#</html> #}