{% extends 'MainTemplate.html' %}
{% load staticfiles %}
{% block BodyBlock%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
            <h1>登录</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
            <form id="login_form" method="post" action="Login">
            {% csrf_token %}
            <div class="form-group">
                <label>用户名</label>
                <input type="text" name="username" value="" class="form-control" />
            <label>密码</label>
            <input type="password" name="password" value="" class="form-control" size="50" />
            <input type="radio" name="user_type" size="50" value="Teacher"/> 教师
            <input type="radio" name="user_type" size="50" value="Student"/> 学生
            <div align="center"><input type="submit"  class="btn btn-success btn-primary btn-lg center"  value="登录"/></div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}