<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block Script_Block %}{% endblock %}
    <title>软件工程课程网站</title>
</head>
<body>
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="/">软件工程课程网站</a>
    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="{%block NavNoticeBoard  %}{% endblock %}"><a href="NoticeBoard">课程公告</a></li>
            <li class="{%block NavCourseMaterials  %}{% endblock %}"><a href="CourseMaterials">课程资料</a></li>
            <li class="{%block NavCourseIntro %}{% endblock %}"><a href="ScoreConsti">课程介绍</a></li>
            <li class="{%block NavTeacherIntro %}{% endblock %}"><a href="TAIntro">教师/助教介绍</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           {% if user.is_authenticated %}
                <li><a href="">你好
                    {{ user.username }}
                    {% if perms.SESite.can_teach %}
                        老师
                    {% else %}
                        同学
                    {% endif %}
                </a></li>
                <li><a href="Logout">注销</a></li>
            {% else %}
                <li><a href="Register">注册</a></li>
                <li><a href="Login">登录</a></li>
            {% endif %}
      </ul>
    </div>
</nav>
 {% block BodyBlock %}{% endblock %}
</body>
</html>