{% load i18n %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/forum_skin.css">
{#    <link rel="stylesheet" href="/static/css/forum_toolbarskin.css">#}
    <link rel="stylesheet" href="/static/css/toolbar.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pybbjs.js"></script>
    <script src="/static/js/markitup.js"></script>
    <script src="/static/js/jquery.markitup.js"></script>
    <script src="/static/js/jquery.formset.js"></script>
    <script src="/static/js/set.js"></script>
    <style type="text/css">
        body {
            padding-top: -60px;
        }
    </style>
    {% block Script_Block %}{% endblock %}
    <title>软件工程教学辅助系统</title>
</head>
<body>
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="/">软件工程教学辅助系统</a>
    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="{%block NavNoticeBoard  %}{% endblock %}"><a href="/NoticeBoard">课程公告</a></li>
            <li class="{%block NavCourseMaterials  %}{% endblock %}"><a href="/CourseMaterials">课程资料</a></li>
            <li class="{%block NavCourseIntro %}{% endblock %}"><a href="/ScoreConsti">课程介绍</a></li>
            <li class="{%block NavTeacherIntro %}{% endblock %}"><a href="/TAIntro">教师/助教介绍</a></li>
            {% if user.is_authenticated %}
                {% if perms.SESite.can_teach %}
                    <li class="{%block NavAssignHomework %}{% endblock %}"><a href="/AssignHomework">发布作业&批改成绩</a></li>
                    <li class="{%block NavGrade %}{% endblock %}"><a href="/Grade">管理成绩</a></li>
                    {% if perms.SESite.can_judge_ta %}
                    {% else %}
                    {% endif %}
                {% else %}
                    <li class="{%block NavHomework %}{% endblock %}"><a href="/HomeworkAndGrades">查看作业</a></li>
                    <li class="{%block NavShowGrade %}{% endblock %}"><a href="/ShowGrade">查看成绩</a></li>
                {% endif %}
                    <li class="{% block NavForum %}{% endblock %}"><a href="/forum">课程论坛</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
           {% if user.is_authenticated %}
                <li><a href="">你好
                    {{ user.username }}
                    {% if perms.SESite.can_teach %}
                        {% if perms.SESite.can_judge_ta %}
                        老师
                        {% else %}
                            助教
                        {% endif %}
                    {% else %}
                        同学
                    {% endif %}
                </a></li>
                <li><a href="/messages">站内信</a></li>
                <li><a href="/AccountInfo">修改账户信息</a></li>
                <li><a href="/Logout">注销</a></li>
            {% else %}
                <li><a href="/Register">注册</a></li>
                <li><a href="/Login">登录</a></li>
            {% endif %}
      </ul>
    </div>
</nav>
 {% block BodyBlock %}{% endblock %}
</body>
</html>