{% extends 'MainTemplate.html' %}
{% load staticfiles %}
{% block Script_Block %}
<!--<script src="/static/js/NoticeBoard.js"></script>-->
{% endblock %}
{% block NavNoticeBoard %}active{% endblock %}
{% block BodyBlock%}
 <div class="container ">
 {% if perms.SESite.can_teach %}
<form method="post" action="NoticeBoard">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>发布公告</h1>
            <div class="input-group-addon">
             <textarea class="form-control markItUpEditor" id="markItUp" rows="15" name="post_message"></textarea>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <span class="input-group-btn input-group-addon">
               <input class="btn btn-default" type="submit" value="提交公告"/>
             </span>
        </div>
    </div>
     </form>
 {% endif %}
 <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
    <div class="message_list list-group ">
         {% for item in message %}
             <div class="list-group-item">
                        <p class="h4 list-group-item-heading">{{ item.2|safe }}</p>
                        <p class="list-group-item-text pull-right">{{ item.1 }} {{ item.3 }} </p>
                    {% if perms.SESite.can_teach %}
                        <p class=""><a href="NoticeBoard?deleteid={{ item.0 }}">删除</a></p>
                    {% else %}
                        <p></p>
                        <br/>
                    {% endif %}
                </ul>
             </div>
         {% endfor %}
    </div>
</div>
 </div>
     </div>
     <script type="text/javascript">
$(function() {
    //var mySettings = window.pybb.get_markitup_settings();
	// Add markItUp! to your textarea in one line
	// $('textarea').markItUp( { Settings }, { OptionalExtraSettings } );
//	$('#markItUp').markItUp(mySettings);


    jQuery("#markItUp").markItUp(mySettings).css('height', function() {
  /* Since line-height is set in the markItUp-css, fetch that value and
  split it into value and unit.  */
  var h = jQuery(this).css('line-height').match(/(\d+)(.*)/)
  /* Multiply line-height-value with nr-of-rows and add the unit.  */
  return (h[1]*jQuery(this).attr('rows'))+h[2]
});
	// You can add content from anywhere in your page
	// $.markItUp( { Settings } );
	$('.add').click(function() {
 		$('#markItUp').markItUp('insert',
			{ 	openWith:'<opening tag>',
				closeWith:'<\/closing tag>',
				placeHolder:"New content"
			}
		);
 		return false;
	});

	// And you can add/remove markItUp! whenever you want
	// $(textarea).markItUpRemove();
	$('.toggle').click(function() {
		if ($("#markItUp.markItUpEditor").length === 1) {
 			$("#markItUp").markItUp('remove');
			$("span", this).text("get markItUp! back");
		} else {
			$('#markItUp').markItUp(mySettings);
			$("span", this).text("remove markItUp!");
		}
 		return false;
	});
});
</script>
{% endblock %}