{% extends 'MainTemplate.html' %}
{% load staticfiles %}
{% block Script_Block %}
<!--<script src="/static/js/NoticeBoard.js"></script>-->
{% endblock %}
{% block NavNoticeBoard %}active{% endblock %}
{% block BodyBlock%}
 <div class="container ">
 {% if perms.SESite.can_teach %}
<form method="post" action="NoticeBoard">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h1>发布公告</h1>
            <div class="input-group-addon">
             <textarea class="form-control" rows="3" name="post_message"></textarea>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <span class="input-group-btn input-group-addon">
               <input class="btn btn-default" type="submit" value="提交公告"/>
             </span>
        </div>
    </div>
     </form>
 {% endif %}
 <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
    <div class="message_list list-group ">
         {% for item in message %}
             <div class="list-group-item">
                        <h4 class="h4 list-group-item-heading">{{ item.2 }}</h4>
                        <p class="list-group-item-text pull-right">{{ item.1 }} {{ item.3 }} </p>
                    {% if perms.SESite.can_teach %}
                        <p class=""><a href="NoticeBoard?deleteid={{ item.0 }}">删除</a></p>
                    {% else %}
                        <p></p>
                        <br/>
                    {% endif %}
                </ul>
             </div>
         {% endfor %}
    </div>
</div>
 </div>
     </div>
     <script >
$(document).ready(function(){
    /*
    for( i = 0;i<message.length;i++){
        $('.message_list > ul').append('<ul id="message'+i+'"></ul>')
        $('#message'+i).append('<li><ul></ul></li>').append('<li>'+message[i][1]+'</li>'
                                                            +'<li>'+message[i][0]+'</li>'
                                                            +'<li>'+message[i][2]+'</li>');
    }*/
});
</script>
{% endblock %}