{% extends 'MainTemplate.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block BodyBlock%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>注册</h1>
        {% if registered %}
        <strong>感谢您的注册!</strong>
        <a href="">返回首页.</a><br />
        {% else %}
        <form  method="POST" class="form-group" action="Register" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form|bootstrap }}
{#            {{ user_profile|bootstrap }}#}
            {{ user_profile|bootstrap }}
{#            {% bootstrap user_form.as_p  %}#}
{#            {% bootstrapform user_profile.as_p %}#}
            <div align="center"><input type="submit"  class="btn btn-success btn-primary btn-lg center"  value="注册"/></div>

            <!-- Provide a button to click to submit the form. -->
        </form>
        {% endif %}
        </div>
    </div>
</div>
<script type="application/javascript">
$(document).ready(
        function(){

        }
)
</script>
{% endblock %}